USE [Swift]
GO
/****** Object:  Table [dbo].[RAPPE]    Script Date: 6/1/2023 12:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAPPE](
	[aid] [float] NULL,
	[appe_s_umidl] [float] NULL,
	[appe_s_umidh] [float] NULL,
	[appe_inst_num] [float] NULL,
	[appe_date_time] [datetime] NULL,
	[appe_seq_nbr] [float] NULL,
	[appe_iapp_name] [nvarchar](255) NULL,
	[appe_type] [nvarchar](255) NULL,
	[appe_session_holder] [nvarchar](255) NULL,
	[appe_session_nbr] [float] NULL,
	[appe_sequence_nbr] [float] NULL,
	[appe_transmission_nbr] [float] NULL,
	[appe_crea_appl_serv_name] [nvarchar](255) NULL,
	[appe_crea_mpfn_name] [nvarchar](255) NULL,
	[appe_crea_rp_name] [nvarchar](255) NULL,
	[appe_data_last] [nvarchar](255) NULL,
	[appe_token] [float] NULL,
	[appe_ack_nack_text] [nvarchar](255) NULL,
	[appe_answerback] [nvarchar](255) NULL,
	[appe_auth_result] [nvarchar](255) NULL,
	[appe_auth_value] [nvarchar](255) NULL,
	[appe_carrier_acceptance_id] [nvarchar](255) NULL,
	[appe_checksum_result] [nvarchar](255) NULL,
	[appe_checksum_value] [nvarchar](255) NULL,
	[appe_conn_response_code] [nvarchar](255) NULL,
	[appe_conn_response_text] [nvarchar](255) NULL,
	[appe_crest_com_server_id] [nvarchar](255) NULL,
	[appe_crest_gateway_id] [nvarchar](255) NULL,
	[appe_cui] [nvarchar](255) NULL,
	[appe_fax_batch_sequence] [nvarchar](255) NULL,
	[appe_fax_duration] [nvarchar](255) NULL,
	[appe_fax_number] [nvarchar](255) NULL,
	[appe_fax_tnap_name] [nvarchar](255) NULL,
	[appe_local_output_time] [nvarchar](255) NULL,
	[appe_nak_reason] [nvarchar](255) NULL,
	[appe_network_delivery_status] [nvarchar](255) NULL,
	[appe_pac_result] [nvarchar](255) NULL,
	[appe_pac_value] [nvarchar](255) NULL,
	[appe_rcv_delivery_status] [nvarchar](255) NULL,
	[appe_remote_input_reference] [nvarchar](255) NULL,
	[appe_remote_input_time] [nvarchar](255) NULL,
	[appe_sender_cancel_status] [nvarchar](255) NULL,
	[appe_telex_batch_sequence] [nvarchar](255) NULL,
	[appe_telex_duration] [nvarchar](255) NULL,
	[appe_telex_number] [nvarchar](255) NULL,
	[appe_tnap_name] [nvarchar](255) NULL,
	[appe_sender_swift_address] [nvarchar](255) NULL,
	[x_appe_last] [float] NULL,
	[appe_ack_nack_lau_result] [nvarchar](255) NULL,
	[appe_combined_auth_res] [nvarchar](255) NULL,
	[appe_combined_pac_res] [nvarchar](255) NULL,
	[appe_lau_result] [nvarchar](255) NULL,
	[appe_pki_auth_result] [nvarchar](255) NULL,
	[appe_pki_authentication_res] [nvarchar](255) NULL,
	[appe_pki_authorisation_res] [nvarchar](255) NULL,
	[appe_pki_pac2_result] [nvarchar](255) NULL,
	[appe_rma_check_result] [nvarchar](255) NULL,
	[appe_use_pki_signature] [nvarchar](255) NULL,
	[appe_swift_ref] [nvarchar](255) NULL,
	[appe_swift_request_ref] [nvarchar](255) NULL,
	[appe_nr_indicator] [nvarchar](255) NULL,
	[appe_nonrep_type] [nvarchar](255) NULL,
	[appe_nonrep_warning] [nvarchar](255) NULL,
	[appe_authoriser_dn] [nvarchar](255) NULL,
	[appe_signer_dn] [nvarchar](255) NULL,
	[appe_snl_endpoint] [nvarchar](255) NULL,
	[appe_snf_queue_name] [nvarchar](255) NULL,
	[appe_snf_input_time] [nvarchar](255) NULL,
	[appe_snf_delv_notif_req] [nvarchar](255) NULL,
	[appe_swift_response_ref] [nvarchar](255) NULL,
	[appe_response_ref] [nvarchar](255) NULL,
	[appe_resp_nonrep_type] [nvarchar](255) NULL,
	[appe_resp_nonrep_warning] [nvarchar](255) NULL,
	[appe_resp_cbt_reference] [nvarchar](255) NULL,
	[appe_resp_possible_dup_crea] [nvarchar](255) NULL,
	[appe_resp_responder_dn] [nvarchar](255) NULL,
	[appe_resp_auth_result] [nvarchar](255) NULL,
	[appe_resp_signer_dn] [nvarchar](255) NULL,
	[appe_large_data] [nvarchar](255) NULL,
	[appe_record_id] [float] NULL,
	[APPE_MESG_INPUT_REFERENCE] [nvarchar](255) NULL,
	[APPE_TRANSLATION_DIGEST_RESULT] [nvarchar](255) NULL,
	[APPE_CLIENT_REF] [nvarchar](255) NULL,
	[APPE_COMBINED_AUTHENTICATION_R] [nvarchar](255) NULL,
	[APPE_RESP_PAYLOAD_ATTRIBUTE_NA] [nvarchar](255) NULL,
	[APPE_RESP_PAYLOAD_ATTRIBUTE_VA] [nvarchar](255) NULL,
	[APPE_TRANSFER_REF] [nvarchar](255) NULL,
	[APPE_STORED_TRANSFER_REF] [nvarchar](255) NULL,
	[APPE_ORIG_SNF_TRANSFER_REF] [nvarchar](255) NULL,
	[APPE_AUTH_DELV_NOTIF_REQ] [nvarchar](255) NULL,
	[APPE_DELV_NOTIF_REQ_RECDN] [nvarchar](255) NULL,
	[APPE_DELV_NOTIF_REQ_MTYPE] [nvarchar](255) NULL,
	[APPE_DELIVERY_TIME] [nvarchar](255) NULL,
	[APPE_CREATION_TIME] [nvarchar](255) NULL,
	[APPE_FILE_START_TIME] [nvarchar](255) NULL,
	[APPE_FILE_END_TIME] [nvarchar](255) NULL,
	[APPE_THIRD_PARTY_SIGNER_DN] [nvarchar](255) NULL,
	[APPE_COPIED_THIRD_PARTY_LIST] [nvarchar](255) NULL,
	[APPE_SKIPPED_THIRD_PARTY_LIST] [nvarchar](255) NULL,
	[APPE_SENDER_BIC8] [nvarchar](255) NULL,
	[APPE_XMLV2_PHYSICAL_FILENAME] [nvarchar](255) NULL,
	[APPE_PAYLOAD_PHYSICAL_FILENAME] [nvarchar](255) NULL,
	[APPE_RECEPT_ACK_NACK_DATE_TIME] [nvarchar](255) NULL,
	[APPE_RELEASE_INFO] [nvarchar](255) NULL,
	[APPE_CORRELATION_ID] [nvarchar](255) NULL,
	[APPE_PDE_ADDED_BY_SAA] [nvarchar](255) NULL,
	[APPE_SNF_CHANNEL_NAME] [nvarchar](255) NULL,
	[APPE_PSEUDO_APPENDIX] [nvarchar](255) NULL,
	[APPE_RMA_CHECK_SERVICE] [nvarchar](255) NULL,
	[APPE_MVAL_RESULT] [nvarchar](255) NULL,
	[APPE_RESP_MVAL_RESULT] [nvarchar](255) NULL,
	[APPE_RESP_AUTH_VALUE] [nvarchar](255) NULL,
	[APPE_PDM_HISTORY] [nvarchar](255) NULL,
	[APPE_PKI_AUTH_VALUE] [nvarchar](255) NULL,
	[APPE_PKI_PAC2_VALUE] [nvarchar](255) NULL,
	[APPE_TRANSLATION_RESULT_DETAIL] [nvarchar](255) NULL,
	[APPE_COPY_INFO] [nvarchar](255) NULL,
	[X_DS] [nvarchar](255) NULL,
	[X_CREA_DATE_TIME_MESG] [datetime] NULL
) ON [PRIMARY]
GO
