USE [Swift]
GO
/****** Object:  Table [dbo].[RMESG]    Script Date: 6/1/2023 12:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMESG](
	[aid] [float] NULL,
	[mesg_s_umidl] [float] NULL,
	[mesg_s_umidh] [float] NULL,
	[mesg_validation_requested] [nvarchar](255) NULL,
	[mesg_validation_passed] [nvarchar](255) NULL,
	[mesg_class] [nvarchar](255) NULL,
	[mesg_related_s_umid] [nvarchar](255) NULL,
	[mesg_is_text_readonly] [float] NULL,
	[mesg_is_delete_inhibited] [float] NULL,
	[mesg_is_text_modified] [float] NULL,
	[mesg_is_partial] [float] NULL,
	[mesg_status] [nvarchar](255) NULL,
	[mesg_crea_appl_serv_name] [nvarchar](255) NULL,
	[mesg_crea_mpfn_name] [nvarchar](255) NULL,
	[mesg_crea_rp_name] [nvarchar](255) NULL,
	[mesg_crea_oper_nickname] [nvarchar](255) NULL,
	[mesg_crea_date_time] [datetime] NULL,
	[mesg_mod_oper_nickname] [nvarchar](255) NULL,
	[mesg_mod_date_time] [datetime] NULL,
	[mesg_verf_oper_nickname] [nvarchar](255) NULL,
	[mesg_data_last] [nvarchar](255) NULL,
	[mesg_token] [float] NULL,
	[mesg_batch_reference] [nvarchar](255) NULL,
	[mesg_cas_sender_reference] [nvarchar](255) NULL,
	[mesg_cas_target_rp_name] [nvarchar](255) NULL,
	[mesg_ccy_amount] [nvarchar](255) NULL,
	[mesg_copy_service_id] [nvarchar](255) NULL,
	[mesg_data_keyword1] [nvarchar](255) NULL,
	[mesg_data_keyword2] [nvarchar](255) NULL,
	[mesg_data_keyword3] [nvarchar](255) NULL,
	[mesg_delv_overdue_warn_req] [float] NULL,
	[mesg_fin_ccy_amount] [nvarchar](255) NULL,
	[mesg_fin_value_date] [nvarchar](255) NULL,
	[mesg_frmt_name] [nvarchar](255) NULL,
	[mesg_is_live] [float] NULL,
	[mesg_is_retrieved] [nvarchar](255) NULL,
	[mesg_mesg_user_group] [nvarchar](255) NULL,
	[mesg_nature] [nvarchar](255) NULL,
	[mesg_network_appl_ind] [nvarchar](255) NULL,
	[mesg_network_delv_notif_req] [float] NULL,
	[mesg_network_obso_period] [nvarchar](255) NULL,
	[mesg_network_priority] [nvarchar](255) NULL,
	[mesg_possible_dup_creation] [nvarchar](255) NULL,
	[mesg_receiver_alia_name] [nvarchar](255) NULL,
	[mesg_receiver_swift_address] [nvarchar](255) NULL,
	[mesg_recovery_accept_info] [nvarchar](255) NULL,
	[mesg_rel_trn_ref] [nvarchar](255) NULL,
	[mesg_release_info] [nvarchar](255) NULL,
	[mesg_security_iapp_name] [nvarchar](255) NULL,
	[mesg_security_required] [nvarchar](255) NULL,
	[mesg_sender_X1] [nvarchar](255) NULL,
	[mesg_sender_X2] [nvarchar](255) NULL,
	[mesg_sender_X3] [nvarchar](255) NULL,
	[mesg_sender_X4] [nvarchar](255) NULL,
	[mesg_sender_branch_info] [nvarchar](255) NULL,
	[mesg_sender_city_name] [nvarchar](255) NULL,
	[mesg_sender_corr_type] [nvarchar](255) NULL,
	[mesg_sender_ctry_code] [nvarchar](255) NULL,
	[mesg_sender_ctry_name] [nvarchar](255) NULL,
	[mesg_sender_institution_name] [nvarchar](255) NULL,
	[mesg_sender_location] [nvarchar](255) NULL,
	[mesg_sender_swift_address] [nvarchar](255) NULL,
	[mesg_sub_format] [nvarchar](255) NULL,
	[mesg_syntax_table_ver] [float] NULL,
	[mesg_template_name] [nvarchar](255) NULL,
	[mesg_trn_ref] [nvarchar](255) NULL,
	[mesg_type] [float] NULL,
	[mesg_user_issued_as_pde] [nvarchar](255) NULL,
	[mesg_user_priority_code] [nvarchar](255) NULL,
	[mesg_user_reference_text] [nvarchar](255) NULL,
	[mesg_uumid] [nvarchar](255) NULL,
	[mesg_uumid_suffix] [float] NULL,
	[mesg_zz41_is_possible_dup] [float] NULL,
	[x_fin_ccy] [nvarchar](255) NULL,
	[x_fin_amount] [nvarchar](255) NULL,
	[x_fin_value_date] [nvarchar](255) NULL,
	[x_fin_ocmt_ccy] [nvarchar](255) NULL,
	[x_fin_ocmt_amount] [nvarchar](255) NULL,
	[x_own_lt] [nvarchar](255) NULL,
	[x_inst0_unit_name] [nvarchar](255) NULL,
	[x_category] [float] NULL,
	[x_receiver_X1] [nvarchar](255) NULL,
	[x_receiver_X2] [nvarchar](255) NULL,
	[x_receiver_X3] [nvarchar](255) NULL,
	[x_receiver_X4] [nvarchar](255) NULL,
	[archived] [float] NULL,
	[last_update] [datetime] NULL,
	[restored] [float] NULL,
	[set_id] [nvarchar](255) NULL,
	[mesg_appl_sender_reference] [nvarchar](255) NULL,
	[mesg_payload_type] [nvarchar](255) NULL,
	[mesg_sign_digest_reference] [nvarchar](255) NULL,
	[mesg_sign_digest_value] [nvarchar](255) NULL,
	[mesg_use_pki_signature] [nvarchar](255) NULL,
	[mesg_requestor_dn] [nvarchar](255) NULL,
	[mesg_service] [nvarchar](255) NULL,
	[mesg_request_type] [nvarchar](255) NULL,
	[mesg_identifier] [nvarchar](255) NULL,
	[mesg_xml_query_ref1] [nvarchar](255) NULL,
	[mesg_xml_query_ref2] [nvarchar](255) NULL,
	[mesg_xml_query_ref3] [nvarchar](255) NULL,
	[MESG_SLA] [nvarchar](255) NULL,
	[MESG_E2E_TRANSACTION_REFERENCE] [nvarchar](255) NULL,
	[MESG_IS_COPY_REQUIRED] [nvarchar](255) NULL,
	[MESG_AUTH_DELV_NOTIF_REQ] [nvarchar](255) NULL,
	[MESG_COPY_RECIPIENT_DN] [nvarchar](255) NULL,
	[MESG_COPY_STATE] [nvarchar](255) NULL,
	[MESG_COPY_TYPE] [nvarchar](255) NULL,
	[MESG_FIN_INFORM_RELEASE_INFO] [nvarchar](255) NULL,
	[MESG_IS_COPY] [float] NULL,
	[MESG_OVERDUE_WARNING_DELAY] [nvarchar](255) NULL,
	[MESG_OVERDUE_WARNING_TIME] [nvarchar](255) NULL,
	[MESG_SOURCE_TEMPLATE_NAME] [nvarchar](255) NULL,
	[X_INST0_RP_NAME] [nvarchar](255) NULL,
	[X_LAST_EMI_APPE_IAPP_NAME] [nvarchar](255) NULL,
	[X_LAST_REC_APPE_IAPP_NAME] [nvarchar](255) NULL,
	[X_LAST_EMI_APPE_SESSION_NBR] [nvarchar](255) NULL,
	[X_LAST_REC_APPE_SESSION_NBR] [nvarchar](255) NULL,
	[X_LAST_EMI_APPE_SEQUENCE_NBR] [nvarchar](255) NULL,
	[X_LAST_REC_APPE_SEQUENCE_NBR] [nvarchar](255) NULL,
	[X_LAST_EMI_APPE_DELV_STS] [nvarchar](255) NULL,
	[MESG_INSTR_AMOUNT] [nvarchar](255) NULL,
	[MESG_INSTR_CCY] [nvarchar](255) NULL,
	[MESG_ORDER_CUS] [nvarchar](255) NULL,
	[MESG_SENDING_INST] [nvarchar](255) NULL,
	[MESG_ORDERING_INST] [nvarchar](255) NULL,
	[MESG_SND_CORR] [nvarchar](255) NULL,
	[MESG_REIMBURS_INST] [nvarchar](255) NULL,
	[MESG_INTERM_INST] [nvarchar](255) NULL,
	[MESG_ACCOUNT_INST] [nvarchar](255) NULL,
	[MESG_Status_code] [nvarchar](255) NULL,
	[MESG_Reason_code] [nvarchar](255) NULL,
	[MESG_forwarded_to] [nvarchar](255) NULL,
	[MESG_status_originator] [nvarchar](255) NULL,
	[MESG_NAK_code] [nvarchar](255) NULL,
	[MESG_RCVR_CORR] [nvarchar](255) NULL,
	[MESG_BEN_CUST] [nvarchar](255) NULL,
	[MESG_EXCHANGE_RATE] [nvarchar](255) NULL,
	[MESG_CHARGES] [nvarchar](255) NULL,
	[MESG_SND_CHARGES_AMOUNT] [nvarchar](255) NULL,
	[MESG_SND_CHARGES_CURR] [nvarchar](255) NULL,
	[MESG_RCV_CHARGES_AMOUNT] [nvarchar](255) NULL,
	[MESG_RCV_CHARGES_CURR] [nvarchar](255) NULL,
	[MESG_REMIT_INFO] [nvarchar](255) NULL,
	[MESG_PARSING_DATE_TIME] [nvarchar](255) NULL,
	[NOTIF_DATE_TIME] [nvarchar](255) NULL,
	[MESG_BENEFICIARY_INST] [nvarchar](255) NULL,
	[EXCH_RATE_FROM_CCY] [nvarchar](255) NULL,
	[EXCH_RATE_TO_CCY] [nvarchar](255) NULL,
	[Confirmation_Amount] [nvarchar](255) NULL,
	[Confirmation_CCY] [nvarchar](255) NULL,
	[SB_Ordering_Customer] [nvarchar](255) NULL,
	[SB_Ordering_Institution] [nvarchar](255) NULL,
	[SB_Intermediary_Institution] [nvarchar](255) NULL,
	[SB_Account_With_Institution] [nvarchar](255) NULL,
	[SB_Beneficiary_Customer] [nvarchar](255) NULL,
	[SB_Remittance_Information] [nvarchar](255) NULL,
	[SB_INSTR_AMOUNT] [nvarchar](255) NULL,
	[SB_INSTR_CURR] [nvarchar](255) NULL,
	[SENDER_TO_RECEIVER] [nvarchar](255) NULL,
	[SENDER_TO_RECEIVER_FIELD_CUAS] [nvarchar](255) NULL,
	[SENDER_TO_RECEIVER_REASON_CODE] [nvarchar](255) NULL,
	[SENDER_TO_RECEIVER_REFF] [nvarchar](255) NULL,
	[MESG_Settlement_Method] [nvarchar](255) NULL,
	[MESG_Clearing_System] [nvarchar](255) NULL,
	[ALL_DEDUCTS] [nvarchar](255) NULL,
	[X_EXTRACTED] [nvarchar](255) NULL,
	[MESG_SEQ_ID_NUM] [float] NULL,
	[mesg_file_info] [nvarchar](255) NULL,
	[MESG_TRANSLATED_RESULT] [nvarchar](255) NULL,
	[MESG_REQUEST_SUBTYPE] [nvarchar](255) NULL,
	[MESG_PC_INFO_FOR_RECEIVER] [nvarchar](255) NULL,
	[MESG_GPI_CONFIRMATION_STATUS] [nvarchar](255) NULL,
	[MESG_SEC_FRMT_NAME] [nvarchar](255) NULL,
	[MESG_EXPIRY_DATE_TIME] [datetime] NULL,
	[MESG_CONFIRMED_AMOUNT] [nvarchar](255) NULL,
	[MESG_CONFIRMED_CURRENCY] [nvarchar](255) NULL,
	[MESG_CONFIRMED_DATE] [nvarchar](255) NULL,
	[MESG_APPROVER_NICKNAME] [nvarchar](255) NULL,
	[MESG_AUTHORISER_DN] [nvarchar](255) NULL,
	[MESG_CONTRACT_ID] [nvarchar](255) NULL,
	[MESG_COPY_SERVICE_CID] [nvarchar](255) NULL,
	[MESG_CUSTOM_KEYWORD1] [nvarchar](255) NULL,
	[MESG_CUSTOM_KEYWORD2] [nvarchar](255) NULL,
	[MESG_CUSTOM_KEYWORD3] [nvarchar](255) NULL,
	[MESG_DIGEST_VALUE] [nvarchar](255) NULL,
	[MESG_DIRTY] [nvarchar](255) NULL,
	[MESG_FORCE_COMPLETED] [nvarchar](255) NULL,
	[MESG_HAS_VERIFIABLE_FIELD] [float] NULL,
	[MESG_IS_RECIPIENT_LIST_PUBLIC] [nvarchar](255) NULL,
	[MESG_IS_SIMPLIFIED_SCREEN] [nvarchar](255) NULL,
	[MESG_LOCKED_TEMPLATE] [float] NULL,
	[MESG_NRS_REQUIRED_SIG_NBR] [float] NULL,
	[MESG_ORIG_SNF_REF] [nvarchar](255) NULL,
	[MESG_PAYLOAD_ATTRIBUTE_NAME] [nvarchar](255) NULL,
	[MESG_PAYLOAD_ATTRIBUTE_VALUE] [nvarchar](255) NULL,
	[MESG_RECIPIENT_LIST] [nvarchar](255) NULL,
	[MESG_REQUEST_E2E_CONTROL] [nvarchar](255) NULL,
	[MESG_RETRIEVAL_DESCRIPTOR] [nvarchar](255) NULL,
	[MESG_RETRIEVAL_INFO] [nvarchar](255) NULL,
	[MESG_RMA_CHECKED] [nvarchar](255) NULL,
	[MESG_SEC_IDENTIFIER] [nvarchar](255) NULL,
	[MESG_SEC_SERVICE] [nvarchar](255) NULL,
	[MESG_SEC_SYNTAX_TABLE_VER] [nvarchar](255) NULL,
	[MESG_SEC_TYPE] [nvarchar](255) NULL,
	[MESG_SEC_USER_GROUP] [nvarchar](255) NULL,
	[MESG_SEC_USER_REF_TEXT] [nvarchar](255) NULL,
	[MESG_SEC_UUMID] [nvarchar](255) NULL,
	[MESG_SNEP_PROFILE_NAME] [nvarchar](255) NULL,
	[MESG_TEMPL_PREP_STATUS] [nvarchar](255) NULL,
	[MESG_TEMPLATE_DESCR] [nvarchar](255) NULL,
	[MESG_THIRD_PARTY_LIST] [nvarchar](255) NULL,
	[MESG_TRAN_NUM] [float] NULL,
	[MESG_TRANSACTION_DATE] [nvarchar](255) NULL,
	[MESG_XMLV2_DIGEST_VALUE] [nvarchar](255) NULL,
	[MESG_XMTY_UPLOAD_ID] [nvarchar](255) NULL,
	[MESG_XMTY_URI] [nvarchar](255) NULL,
	[MESG_XSVC_URI] [nvarchar](255) NULL,
	[MESG_Z_APPROVAL_TRAILER] [nvarchar](255) NULL,
	[X_DS] [nvarchar](255) NULL,
	[fetch_status] [float] NULL,
	[MIGRATION_STATUS] [float] NULL,
	[IS_Translate_Message] [float] NULL,
	[EXTERNAL_REFERENCE] [nvarchar](255) NULL,
	[CHARGES_AGENT] [nvarchar](255) NULL,
	[PAYMENT_SCENARIO] [nvarchar](255) NULL,
	[REMAINING_CONFIRMED_AMOUNT] [nvarchar](255) NULL,
	[PREVIOUSLY_CONFIRMED_AMOUNT] [nvarchar](255) NULL
) ON [PRIMARY]
GO
