USE [Swift]
GO
INSERT [dbo].[SWIFT_QUERies] ([REPORT_NAME], [QUERY_KEY], [QUERY], [TABLE_NAME]) VALUES (N'Payment Investigation ', N'rmesg', N'"select dateadd(second, -47, M.mesg_crea_date_time) as ''Landing Time'',
M.mesg_crea_date_time as''CompletionTime'',
''Completed'' as ''Activity Status'',
M.MESG_TRN_REF as ''Source Ref No'',
M.x_fin_ccy  as ''CCY'',
M.x_fin_amount as ''Amount'',
M.mesg_fin_value_date  as ''Value Date'',
M.x_receiver_X1 as ''Receiver'',
''Gateway'' as ''Workstage'',
''System'' as ''completedBy'',
M.aid,
M.mesg_s_umidl,
M.mesg_s_umidh,
mesg_type,
mesg_sub_format,
MESG_REL_TRN_REF,
mesg_sender_x1
from dbo.RMESG  M with (nolock) 
  where mesg_crea_date_time >= dateadd(day, -~RetrieveTill~, getdate()) and mesg_crea_date_time <= getdate()
  and mesg_type in (101, 102, 103, 191, 192, 195, 196, 199, 202, 291, 292, 295, 296, 299, 910, 940, 950)
  and (mesg_sender_X1 <> ''TRCKCHZZVAL'' and x_receiver_X1 <> ''TRCKCHZZXXX'')
  and MESG_TRN_REF = (select replace(replace(replace(replace(replace(''~ReferenceNum~'', ''NON-REF'',''INVAL''), ''NON REF'', ''INVAL''), ''NONREF'', ''INVAL''),''NONE'', ''INVAL''),''NOTPROVIDED'', ''INVAL''))
union all
select top 20 M.mesg_crea_date_time as ''Landing Time'',
M.mesg_crea_date_time as''CompletionTime'',
''Completed'' as ''Activity Status'',
M.MESG_TRN_REF as ''Source Ref No'',
M.x_fin_ccy  as ''CCY'',
M.x_fin_amount as ''Amount'',
M.mesg_fin_value_date  as ''Value Date'',
M.x_receiver_X1 as ''Receiver'',
''Gateway'' as ''Workstage'',
''System'' as ''completedBy'',
M.aid,
M.mesg_s_umidl,
M.mesg_s_umidh,
mesg_type,
mesg_sub_format,
MESG_REL_TRN_REF,
mesg_sender_x1
from dbo.RMESG  M with (nolock) 
  where mesg_crea_date_time >= dateadd(day, -~RetrieveTill~, getdate()) and mesg_crea_date_time <= getdate()
  and mesg_type in (101, 102, 103, 191, 192, 195, 196, 199, 202, 291, 292, 295, 296, 299, 910, 940, 950)
  and (mesg_sender_X1 <> ''TRCKCHZZVAL'' and x_receiver_X1 <> ''TRCKCHZZXXX'')
  and MESG_REL_TRN_REF = (select replace(replace(replace(replace(replace(''~ReferenceNum~'', ''NON-REF'',''INVAL''), ''NON REF'', ''INVAL''),''NONREF'', ''INVAL''),''NONE'', ''INVAL''),''NOTPROVIDED'', ''INVAL''))"

', N'RMESG  ')
INSERT [dbo].[SWIFT_QUERIES] ([REPORT_NAME], [QUERY_KEY], [QUERY], [TABLE_NAME]) VALUES (N'Payment Investigation ', N'rtextfield', N'"select field_code, replace(value, ''//ACCC'', ''//ACSC'') value from dbo.rTextField with (nolock) where aid = ~aid~
and text_s_umidl = ~s_umidl~
and text_s_umidh = ~s_umidh~
and field_code in(50,59,79)"


', N'rTextField ')
INSERT [dbo].[SWIFT_QUERIES] ([REPORT_NAME], [QUERY_KEY], [QUERY], [TABLE_NAME]) VALUES (N'Payment Investigation ', N'rintv', N'"select i.intv_inty_name, i.intv_mpfn_name, i.intv_date_time, a.appe_network_delivery_status, a.appe_nak_reason 
from dbo.rintv i with (nolock) inner join dbo.rAppe a with (nolock) 
on i.aid = a.aid and i.intv_s_umidh = a.appe_s_umidh and i.intv_s_umidl = a.appe_s_umidl and i.intv_inst_num = a.appe_inst_num
where i.aid = ~aid~
and intv_s_umidl = ~s_umidl~
and intv_s_umidh = ~s_umidh~
order by i.intv_date_time desc, i.intv_seq_nbr desc"


', N'rintv ,
rAppe ')
INSERT [dbo].[SWIFT_QUERIES] ([REPORT_NAME], [QUERY_KEY], [QUERY], [TABLE_NAME]) VALUES (N'Payment Investigation ', N'wdnack-result', N'"select top 1 appe_date_time
from wdNackResult
where aid = ~aid~ and appe_s_umidl = ~s_umidl~ and appe_s_umidh = ~s_umidh~
order by appe_date_time desc "


', N'wdNackResult')
INSERT [dbo].[SWIFT_QUERIES] ([REPORT_NAME], [QUERY_KEY], [QUERY], [TABLE_NAME]) VALUES (N'Payment Tracker ', N'rmesg-trn-ref-only', N'"with mesg as (
select top 50 * from dbo.RMESG M with (nolock)
where mesg_crea_date_time >= dateadd(day, -60, getdate()) and mesg_crea_date_time <= getdate()
and mesg_type in (101, 102, 103, 191, 192, 195, 196, 199, 202, 291, 292, 295, 296, 299, 910, 940, 950)
and (mesg_sender_X1 <> ''TRCKCHZZVAL'' and x_receiver_X1 <> ''TRCKCHZZXXX'')
and  MESG_TRN_REF  = ''~ReferenceNum~''
)
select M.mesg_crea_date_time as ''Landing Time'',
M.mesg_crea_date_time as''CompletionTime'',
''Completed'' as ''Activity Status'',
M.MESG_TRN_REF as ''Source Ref No'',
M.x_fin_ccy  as ''CCY'',
M.x_fin_amount as ''Amount'',
M.mesg_fin_value_date  as ''Value Date'',
M.x_receiver_X1 as ''Receiver'',
''Gateway'' as ''Workstage'',
''System'' as ''completedBy'',
M.aid,
M.mesg_s_umidl,
M.mesg_s_umidh,
mesg_type,
mesg_sub_format,
MESG_REL_TRN_REF,
mesg_sender_x1
from MESG M 
where (MESG_TRN_REF <> ''NON-REF'' and MESG_TRN_REF <> ''NON REF'' and MESG_TRN_REF <> ''NONREF'' and MESG_TRN_REF <> ''NOTPROVIDED'')
and (mesg_sender_X1 <> ''TRCKCHZZVAL'' and x_receiver_X1 <> ''TRCKCHZZXXX'')"



', N'RMESG')
INSERT [dbo].[SWIFT_QUERIES] ([REPORT_NAME], [QUERY_KEY], [QUERY], [TABLE_NAME]) VALUES (N'Payment Tracker ', N'rmesg', N'"select dateadd(second, -47, M.mesg_crea_date_time) as ''Landing Time'',
M.mesg_crea_date_time as''CompletionTime'',
''Completed'' as ''Activity Status'',
M.MESG_TRN_REF as ''Source Ref No'',
M.x_fin_ccy  as ''CCY'',
M.x_fin_amount as ''Amount'',
M.mesg_fin_value_date  as ''Value Date'',
M.x_receiver_X1 as ''Receiver'',
''Gateway'' as ''Workstage'',
''System'' as ''completedBy'',
M.aid,
M.mesg_s_umidl,
M.mesg_s_umidh,
mesg_type,
mesg_sub_format,
MESG_REL_TRN_REF,
mesg_sender_x1
from dbo.RMESG  M with (nolock) 
  where mesg_crea_date_time >= dateadd(day, -~RetrieveTill~, getdate()) and mesg_crea_date_time <= getdate()
  and mesg_type in (101, 102, 103, 191, 192, 195, 196, 199, 202, 291, 292, 295, 296, 299, 910, 940, 950)
  and (mesg_sender_X1 <> ''TRCKCHZZVAL'' and x_receiver_X1 <> ''TRCKCHZZXXX'')
  and MESG_TRN_REF = (select replace(replace(replace(replace(replace(''~ReferenceNum~'', ''NON-REF'',''INVAL''), ''NON REF'', ''INVAL''),''NONREF'', ''INVAL''),''NONE'', ''INVAL''),''NOTPROVIDED'', ''INVAL''))
union all
select top 20 M.mesg_crea_date_time as ''Landing Time'',
M.mesg_crea_date_time as''CompletionTime'',
''Completed'' as ''Activity Status'',
M.MESG_TRN_REF as ''Source Ref No'',
M.x_fin_ccy  as ''CCY'',
M.x_fin_amount as ''Amount'',
M.mesg_fin_value_date  as ''Value Date'',
M.x_receiver_X1 as ''Receiver'',
''Gateway'' as ''Workstage'',
''System'' as ''completedBy'',
M.aid,
M.mesg_s_umidl,
M.mesg_s_umidh,
mesg_type,
mesg_sub_format,
MESG_REL_TRN_REF,
mesg_sender_x1
from dbo.RMESG  M with (nolock) 
  where mesg_crea_date_time >= dateadd(day, -~RetrieveTill~, getdate()) and mesg_crea_date_time <= getdate()
  and mesg_type in (101, 102, 103, 191, 192, 195, 196, 199, 202, 291, 292, 295, 296, 299, 910, 940, 950)
  and (mesg_sender_X1 <> ''TRCKCHZZVAL'' and x_receiver_X1 <> ''TRCKCHZZXXX'')
  and MESG_REL_TRN_REF = 
  (select replace(replace(replace(replace(replace(''~ReferenceNum~'', ''NON-REF'',''INVAL''), ''NON REF'', ''INVAL''),''NONREF'', ''INVAL''),''NONE'', ''INVAL''),''NOTPROVIDED'', ''INVAL''))"


', N'RMESG  ')
GO
